langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
jq
matplotlib
langchain-astradb
langchain-pinecone

langchain-huggingface
sentence-transformers
langchain-experimental

rank_bm25
langgraph
langchain-nvidia-ai-endpoints
langchain-google-genai

arxiv
langgraph-cli[inmem]
langchain-tavily
langgraph-supervisor
langgraph-checkpoint-sqlite

neo4j==5.14
streamlit

pydantic
beautifulsoup4
requests

fastapi
uvicorn

pymupdf
pymupdf4llm
pillow
msgpack
python-multipart
langchain-chroma